In [1]:
Divisible_by_3 = lambda x: x % 3 == 0 and x != 0
Divisible_by_5 = lambda x: x % 5 == 0 and x != 0
Divisible_by_3_and_5 = lambda x: (Divisible_by_5(x) and Divisible_by_3(x))
result = ['FizzBuzz' if Divisible_by_3_and_5(y) else 'Fizz' if Divisible_by_3(y) else 'Buzz' if Divisible_by_5(y) else y for y in range(100)]
for x in result:
  print(x)#,end=', ')
print()

0
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [2]:
import base64
import pandas as pd
from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

#df = pd.DataFrame(data = [[1,2],[3,4]], columns=['Col 1', 'Col 2'])
#create_download_link(df)

# Screened passenger data (Canada)
The passenger traffic table is updated weekly.
https://www.catsa-acsta.gc.ca/en/screened-passenger-data

### This is an indication of the amount of traffic passing through Canadas Major Airports

In [3]:
import pandas as pd

In [4]:
d = pd.read_html('https://www.catsa-acsta.gc.ca/en/screened-passenger-data', parse_dates=True)
d[0].head()

            0  ...                                    6
0        Date  ...  Total Number of Passengers Screened
1        Date  ...    Fifteen Largest Airports (note 2)
2        Date  ...                                 2021
3  2021-01-01  ...                                21541
4  2021-01-02  ...                                33807

[5 rows x 7 columns]

In [5]:
df = d[0].copy()
df.columns = ['Date','Eight Lar. Airport 2019','Eight Lar. Airport 2020', 'Eight Lar. Airport 2021','Fifteen Lar. Airport 2019','Fifteen Lar. Airport 2020','Fifteen Lar. Airport 2021']
df = df.drop([0,1,2])
#
#df = df.set_index(pd.DatetimeIndex(df['Date'])).drop('Date',axis=1)
df_8_2019  = df[['Date','Eight Lar. Airport 2019']].copy()
df_8_2020  = df[['Date','Eight Lar. Airport 2020']].copy()
df_8_2021  = df[['Date','Eight Lar. Airport 2021']].copy()
df_15_2019 = df[['Date','Fifteen Lar. Airport 2019']].copy()
df_15_2020 = df[['Date','Fifteen Lar. Airport 2020']].copy()
df_15_2021 = df[['Date','Fifteen Lar. Airport 2021']].copy()
date19 = df['Date'].str.replace("2021",'2019')
date20 = df['Date'].str.replace("2021",'2020')

df_8_2019['Date']  = date19
df_8_2020['Date']  = date20
df_15_2019['Date'] = date19
df_15_2020['Date'] = date20
df_8_2019.columns = ['Date','8 larget airports']
df_8_2020.columns = ['Date','8 larget airports']
df_8_2021.columns = ['Date','8 larget airports']
df_15_2019.columns = ['Date','15 larget airports']
df_15_2020.columns = ['Date','15 larget airports']
df_15_2021.columns = ['Date','15 larget airports']

In [6]:
df_8   = pd.concat([df_8_2019,df_8_2020,df_8_2021],axis=0).dropna()
df_15  = pd.concat([df_15_2019,df_15_2020,df_15_2021],axis=0).dropna()
df_8
df_15

           Date 15 larget airports
3    2019-01-01             183085
4    2019-01-02             175472
5    2019-01-03             182370
6    2019-01-04             160526
7    2019-01-05             150842
..          ...                ...
176  2021-06-23              29805
177  2021-06-24              31367
178  2021-06-25              36603
179  2021-06-26              31004
180  2021-06-27              36401

[908 rows x 2 columns]

# World Airlines Traffic and Capacity (AUG 21, 2019)
https://www.airlines.org/dataset/world-airlines-traffic-and-capacity-2/

Traffic and operations data below reflects the systemwide scheduled activity of passenger and cargo airlines operating worldwide, as recorded by ICAO; domestic operations within the former USSR are excluded prior to 1970.

In [10]:
!cat ./log

cat: ./log: No such file or directory

In [9]:
df_airline_traffic = pd.read_csv('/content/sample_data/Traffic_and_Operations__1929-Present_data.csv').dropna()

In [11]:
#%%script false --no-raise-error
create_download_link(df_airline_traffic,'Traffic_and_Operations__1929-Present_data.csv')

In [12]:
df_airline_traffic.groupby(by=['Year','Measure Names']).sum()

                            Measure Values
Year Measure Names
1929 Aircraft KMs (mils)      9.000000e+01
     RPKs (mils)              1.700000e+02
1930 Aircraft KMs (mils)      1.200000e+02
     RPKs (mils)              2.700000e+02
1931 Aircraft KMs (mils)      1.350000e+02
...                                    ...
2019 Cargo RTKs (mils)        2.317790e+05
     Freight Tonnes (mils)    5.759221e+01
     PLF                      8.239932e-01
     Passengers (mils)        4.486211e+03
     RPKs (mils)              8.685667e+06

[583 rows x 1 columns]

# List of Stocks to gather data on

In [13]:
stock_symbols = ['ALK','ALG','AAL','AZUL','VLRS','CPA','DAL','GOL','HA','JBLU','RYAAR','SKYW','LUV','SAVE','UAL']

# Macro Trends
https://www.macrotrends.net/stocks/charts/ALG/alamo/pe-ratio

In [100]:
macrotrends_url_list = {
    'ALK'   :'https://www.macrotrends.net/stocks/charts/ALK/alaska-air/pe-ratio',
    'ALG'   :'https://www.macrotrends.net/stocks/charts/ALG/alamo/pe-ratio',
    'AAL'   :'https://www.macrotrends.net/stocks/charts/AAL/american-airlines-group/pe-ratio',
    'AZUL'  :'https://www.macrotrends.net/stocks/charts/AZUL/azul-sa/pe-ratio',
    'VLRS'  :'https://www.macrotrends.net/stocks/charts/VLRS/controladora-vuela-compania-de-aviacion,-sab-de-cv/pe-ratio',
    'CPA'   :'https://www.macrotrends.net/stocks/charts/CPA/copa-holdings,-sa/pe-ratio',
    'DAL'   :'https://www.macrotrends.net/stocks/charts/DAL/delta-air-lines/pe-ratio',
    'GOL'   :'https://www.macrotrends.net/stocks/charts/GOL/gol-linhas-aereas-inteligentes-sa/pe-ratio',
    'HA'    :'',
    'JBLU'  :'https://www.macrotrends.net/stocks/charts/JBLU/jetblue-airways/pe-ratio',
    'RYAAR' :'',
    'SKYW'  :'https://www.macrotrends.net/stocks/charts/SKYW/skywest/pe-ratio',
    'LUV'   :'https://www.macrotrends.net/stocks/charts/LUV/southwest-airlines/pe-ratio',
    'SAVE'  :'https://www.macrotrends.net/stocks/charts/SAVE/spirit-airlines/pe-ratio',
    'UAL'   :'https://www.macrotrends.net/stocks/charts/UAL/united-airlines-holdings-inc/pe-ratio'
}

valid_dict_macrotrends = {sym:url for (sym,url) in macrotrends_url_list.items() if len(url)>0}

In [103]:
df_list = []
for (sym,url) in valid_dict_macrotrends.items():
  print(f'{sym}')
  d = pd.read_html(valid_dict_macrotrends[sym])       # Reads the tables on the web page (url) into a list of DataFrames
  if isinstance(d[0].columns, pd.MultiIndex):         # Checks if the column has a multiIndex
    d[0].columns = d[0].columns.get_level_values(1)   # If it does then Flatten it skipping the first header row
  else:
    print(f'{sym} is not multi index')
  d[0]['Symbol'] = sym                                # Add the symbol column back to the DataFrame
  df_list.append(d[0])                                # Add the new data frame to the list of DataFrames being used

all_info = pd.concat(df_list,axis=0,ignore_index=True)  # Combine all the DataFames in the list into one 
all_info

ALK
ALG
AAL
AZUL
VLRS
CPA
DAL
GOL
JBLU
SKYW
LUV
SAVE
UAL

           Date  Stock Price TTM Net EPS  PE Ratio Symbol
0    2021-06-25        63.27         NaN      0.00    ALK
1    2021-03-31        69.21      $-9.74      0.00    ALK
2    2020-12-31        52.00     $-10.56      0.00    ALK
3    2020-09-30        36.63      $-5.63      0.00    ALK
4    2020-06-30        36.26       $0.46     78.83    ALK
..          ...          ...         ...       ...    ...
661  2007-12-31        33.21       $2.25     14.76    UAL
662  2007-09-30        43.34       $2.17     19.97    UAL
663  2007-06-30        37.80       $1.26     30.00    UAL
664  2007-03-31        35.55       $0.36     98.75    UAL
665  2006-12-31        40.98      $-0.98      0.00    UAL

[666 rows x 5 columns]

In [23]:
pd.concat([df_list[2],df_list[3]],axis=0,ignore_index=True,)

   AZUL SA PE Ratio Historical Data           ... American Airlines Group PE Ratio Historical Data
                               Date PE Ratio  ...                                      Stock Price TTM Net EPS
0                               NaN      NaN  ...                                            22.22         NaN
1                               NaN      NaN  ...                                            23.90     $-15.31
2                               NaN      NaN  ...                                            15.77     $-18.60
3                               NaN      NaN  ...                                            12.29     $-13.84
4                               NaN      NaN  ...                                            13.07      $-8.17
..                              ...      ...  ...                                              ...         ...
68                       2019-03-31    31.07  ...                                              NaN         NaN
69                       2018-12-31    27.15  ...                                              NaN         NaN
70                       2018-09-30    11.55  ...                                              NaN         NaN
71                       2018-06-30     8.70  ...                                              NaN         NaN
72                       2018-03-31    18.39  ...                                              NaN         NaN

[73 rows x 8 columns]

In [ ]:
def get_df(symbol,list_no=0):
  d = pd.read_html(valid_dict_macrotrends[symbol])
  x = d[list_no].copy()
  x['sym'] = symbol
  return x
def build_one_df():
  # df1.reindex_axis(df1.columns.union(df2.columns), axis=1)
  new_df = pd.DataFrame()
  for x in valid_dict_macrotrends.items():
    print(f'Processing {x}')
    y = get_df(x[0])
    
    df_new = y.reindex_axis(y.columns.union(df_new), axis=0)
    return df_new

build_one_df()

In [ ]:
d = pd.read_html('https://www.macrotrends.net/stocks/charts/ALG/alamo/pe-ratio')

In [ ]:
d[0]

# Morning Star

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import json
import pandas as pd
#pd.set_option('display.max_columns', None)
pd.set_option("max_rows", None)

url1 = 'http://financials.morningstar.com/finan/financials/getFinancePart.html?&callback=xxx&t=AAPL'
soup1 = BeautifulSoup(json.loads(re.findall(r'xxx\((.*)\)', requests.get(url1).text)[0])['componentData'], 'lxml')

df = pd.read_html(soup1.prettify())
df = df[0]
df = df.dropna()
df