# **Airline Dashboard**

### To the create the visualization for industry statistics, stock fundamental data and employment data

In [3]:
#Importing Libraries
import panel as pn
pn.extension('plotly')

In [4]:
import plotly.express as px
import plotly
import pandas as pd
import hvplot.pandas
from matplotlib import pyplot as plt
import os
from pathlib import Path
import numpy as np
from bokeh.plotting import figure, show
from bokeh.io import output_notebook
from holoviews import opts
from bokeh.models.formatters import DatetimeTickFormatter
from bokeh.models.formatters import BasicTickFormatter
import holoviews as hv
from holoviews import opts

## **Reading Cleaned Data for Visualization**

In [5]:
# Imported cleaned csv files in preparation for visualization

# All U.S. Carriers Data
us_passengers_final = pd.read_csv("Data/transportation_statistics(cleaned)/us_passengers_final.csv")
us_flights_final = pd.read_csv("Data/transportation_statistics(cleaned)/us_flights_final.csv")
us_passenger_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/us_passenger_miles_final.csv")
us_seat_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/us_seat_miles_final.csv")
us_load_final = pd.read_csv("Data/transportation_statistics(cleaned)/us_load_final.csv")

# Delta Airlines Data
dal_passengers_final = pd.read_csv("Data/transportation_statistics(cleaned)/dal_passengers_final.csv")
dal_flights_final = pd.read_csv("Data/transportation_statistics(cleaned)/dal_flights_final.csv")
dal_passenger_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/dal_passenger_miles_final.csv")
dal_seat_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/dal_seat_miles_final.csv")
dal_load_final = pd.read_csv("Data/transportation_statistics(cleaned)/dal_load_final.csv")


# Southwest Airlines Data
luv_passengers_final = pd.read_csv("Data/transportation_statistics(cleaned)/luv_passengers_final.csv")
luv_flights_final = pd.read_csv("Data/transportation_statistics(cleaned)/luv_flights_final.csv")
luv_passenger_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/luv_passenger_miles_final.csv")
luv_seat_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/luv_seat_miles_final.csv")
luv_load_final = pd.read_csv("Data/transportation_statistics(cleaned)/luv_load_final.csv")

# United Airlines Data
ual_passengers_final = pd.read_csv("Data/transportation_statistics(cleaned)/ual_passengers_final.csv")
ual_flights_final = pd.read_csv("Data/transportation_statistics(cleaned)/ual_flights_final.csv")
ual_passenger_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/ual_passenger_miles_final.csv")
ual_seat_miles_final = pd.read_csv("Data/transportation_statistics(cleaned)/ual_seat_miles_final.csv")
ual_load_final = pd.read_csv("Data/transportation_statistics(cleaned)/ual_load_final.csv")

In [6]:
# Imported airline fundamentals data files

dal_fundamentals = pd.read_csv("Data/DAL_fundamentals.csv")
luv_fundamentals = pd.read_csv("Data/LUV_fundamentals.csv")
ual_fundamentals = pd.read_csv("Data/UAL_fundamentals.csv")

In [7]:
# Prepared Index

# All U.S. Carriers
us_passengers_final.set_index('Year', inplace=True)
us_flights_final.set_index('Year', inplace=True)
us_passenger_miles_final.set_index('Year', inplace=True)
us_seat_miles_final.set_index('Year', inplace=True)
us_load_final.set_index('Year', inplace=True)

# Delta Airlines
dal_passengers_final.set_index('Year', inplace=True)
dal_flights_final.set_index('Year', inplace=True)
dal_passenger_miles_final.set_index('Year', inplace=True)
dal_seat_miles_final.set_index('Year', inplace=True)
dal_load_final.set_index('Year', inplace=True)

# Southwest Airlines
luv_passengers_final.set_index('Year', inplace=True)
luv_flights_final.set_index('Year', inplace=True)
luv_passenger_miles_final.set_index('Year', inplace=True)
luv_seat_miles_final.set_index('Year', inplace=True)
luv_load_final.set_index('Year', inplace=True)

# United Airlines
ual_passengers_final.set_index('Year', inplace=True)
ual_flights_final.set_index('Year', inplace=True)
ual_passenger_miles_final.set_index('Year', inplace=True)
ual_seat_miles_final.set_index('Year', inplace=True)
ual_load_final.set_index('Year', inplace=True)

In [8]:
# Combing fundamental data for Visualization

# Revenue Data
dal_revenue=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Revenue']]
dal_revenue.set_index('Report Date',inplace=True)
dal_revenue.rename(columns={'Revenue':'DAL Revenue'},inplace=True)
luv_revenue=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Revenue']]
luv_revenue.set_index('Report Date',inplace=True)
luv_revenue.rename(columns={'Revenue':'LUV Revenue'},inplace=True)
ual_revenue=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Revenue']]
ual_revenue.set_index('Report Date',inplace=True)
ual_revenue.rename(columns={'Revenue':'UAL Revenue'},inplace=True)
revenue=pd.concat([dal_revenue,luv_revenue,ual_revenue],axis='columns',join='inner')
revenue.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
revenue.sort_index(inplace=True)
revenue.head()

              DAL Revenue   LUV Revenue   UAL Revenue
Report Date
2011-06-30   9.153000e+09  4.136000e+09  9.809000e+09
2011-09-30   9.816000e+09  4.311000e+09  1.017100e+10
2011-12-31   8.399000e+09  4.108000e+09  8.928000e+09
2012-03-31   8.413000e+09  3.991000e+09  8.602000e+09
2012-06-30   9.732000e+09  4.616000e+09  9.939000e+09

In [9]:
#Profit Data
dal_profit=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Income']]
dal_profit.set_index('Report Date',inplace=True)
dal_profit.rename(columns={'Net Income':'DAL Net Income'},inplace=True)
luv_profit=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Income']]
luv_profit.set_index('Report Date',inplace=True)
luv_profit.rename(columns={'Net Income':'LUV Net Income'},inplace=True)
ual_profit=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Income']]
ual_profit.set_index('Report Date',inplace=True)
ual_profit.rename(columns={'Net Income':'UAL Net Income'},inplace=True)
profit=pd.concat([dal_profit,luv_profit,ual_profit],axis='columns',join='inner')
profit.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
profit.sort_index(inplace=True)
profit.head()

             DAL Net Income  LUV Net Income  UAL Net Income
Report Date
2011-06-30        198000000       161000000       538000000
2011-09-30        549000000      -140000000       653000000
2011-12-31        425000000       152000000      -138000000
2012-03-31        124000000        98000000      -448000000
2012-06-30       -168000000       228000000       339000000

In [11]:
#Gross Profit Margin(GPM)
dal_gpm=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Gross Profit Margin']]
dal_gpm.set_index('Report Date',inplace=True)
dal_gpm.rename(columns={'Gross Profit Margin':'DAL Gross Profit Margin'},inplace=True)
luv_gpm=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Gross Profit Margin']]
luv_gpm.set_index('Report Date',inplace=True)
luv_gpm.rename(columns={'Gross Profit Margin':'LUV Gross Profit Margin'},inplace=True)
ual_gpm=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Gross Profit Margin']]
ual_gpm.set_index('Report Date',inplace=True)
ual_gpm.rename(columns={'Gross Profit Margin':'UAL Gross Profit Margin'},inplace=True)
gpm=pd.concat([dal_gpm,luv_gpm,ual_gpm],axis='columns',join='inner')
gpm.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
gpm.sort_index(inplace=True)
gpm.head()

,DAL Gross Profit Margin,LUV Gross Profit Margin,UAL Gross Profit Margin
Report Date,,,
2011-06-30,0.203868,0.220503,0.336120
2011-09-30,0.236145,0.222686,0.337233
2011-12-31,0.243005,0.215190,0.290211
2012-03-31,0.184476,0.181909,0.248779
2012-06-30,0.168413,0.254766,0.312909

In [12]:
#Net Profit Margin (NPM)
dal_npm=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Profit Margin']]
dal_npm.set_index('Report Date',inplace=True)
dal_npm.rename(columns={'Net Profit Margin':'DAL Net Profit Margin'},inplace=True)
luv_npm=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Profit Margin']]
luv_npm.set_index('Report Date',inplace=True)
luv_npm.rename(columns={'Net Profit Margin':'LUV Net Profit Margin'},inplace=True)
ual_npm=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Net Profit Margin']]
ual_npm.set_index('Report Date',inplace=True)
ual_npm.rename(columns={'Net Profit Margin':'UAL Net Profit Margin'},inplace=True)
npm=pd.concat([dal_npm,luv_npm,ual_npm],axis='columns',join='inner')
npm.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
npm.sort_index(inplace=True)
npm.head()

,DAL Net Profit Margin,LUV Net Profit Margin,UAL Net Profit Margin
Report Date,,,
2011-06-30,0.021632,0.038926,0.054848
2011-09-30,0.055929,-0.032475,0.064202
2011-12-31,0.050601,0.037001,-0.015457
2012-03-31,0.014739,0.024555,-0.052081
2012-06-30,-0.017263,0.049393,0.034108

In [13]:
#Operating Profit Margin (OPM)
dal_opm=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Operating Margin']]
dal_opm.set_index('Report Date',inplace=True)
dal_opm.rename(columns={'Operating Margin':'DAL Operating Margin'},inplace=True)
luv_opm=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Operating Margin']]
luv_opm.set_index('Report Date',inplace=True)
luv_opm.rename(columns={'Operating Margin':'LUV Operating Margin'},inplace=True)
ual_opm=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Operating Margin']]
ual_opm.set_index('Report Date',inplace=True)
ual_opm.rename(columns={'Operating Margin':'UAL Operating Margin'},inplace=True)
opm=pd.concat([dal_opm,luv_opm,ual_opm],axis='columns',join='inner')
opm.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
opm.sort_index(inplace=True) 
opm.head()

             DAL Operating Margin  LUV Operating Margin  UAL Operating Margin
Report Date
2011-06-30               0.068284              0.064072              0.097258
2011-09-30               0.087918              0.057295              0.103726
2011-12-31               0.096916              0.044791              0.032930
2012-03-31               0.043980              0.008770             -0.012439
2012-06-30               0.033600              0.102036              0.078579

In [14]:
#Earnings Per Share (EPS)
dal_EPS=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','EPS']]
dal_EPS.set_index('Report Date',inplace=True)
dal_EPS.rename(columns={'EPS':'DAL EPS'},inplace=True)
luv_EPS=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','EPS']]
luv_EPS.set_index('Report Date',inplace=True)
luv_EPS.rename(columns={'EPS':'LUV EPS'},inplace=True)
ual_EPS=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','EPS']]
ual_EPS.set_index('Report Date',inplace=True)
ual_EPS.rename(columns={'EPS':'UAL EPS'},inplace=True)
EPS=pd.concat([dal_EPS,luv_EPS,ual_EPS],axis='columns',join='inner')
EPS.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
EPS.sort_index(inplace=True)
EPS.head()

              DAL EPS   LUV EPS   UAL EPS
Report Date
2011-06-30   0.236277  0.206410  1.630303
2011-09-30   0.655131 -0.176768  1.978788
2011-12-31   0.506555  0.195876 -0.419453
2012-03-31   0.147094  0.127108 -1.357576
2012-06-30  -0.198817  0.301189  1.024169

In [15]:
#Cash and Cash Equivalents 
dal_cash=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Cash, Cash Equivalents & Short Term Investments']]
dal_cash.set_index('Report Date',inplace=True)
dal_cash.rename(columns={'Cash, Cash Equivalents & Short Term Investments':'DAL Cash & Short Term Investments'},inplace=True)
luv_cash=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Cash, Cash Equivalents & Short Term Investments']]
luv_cash.set_index('Report Date',inplace=True)
luv_cash.rename(columns={'Cash, Cash Equivalents & Short Term Investments':'LUV Cash & Short Term Investments'},inplace=True)
ual_cash=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Cash, Cash Equivalents & Short Term Investments']]
ual_cash.set_index('Report Date',inplace=True)
ual_cash.rename(columns={'Cash, Cash Equivalents & Short Term Investments':'UAL Cash & Short Term Investments'},inplace=True)
cash=pd.concat([dal_cash,luv_cash,ual_cash],axis='columns',join='inner')
cash.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
cash.sort_index(inplace=True)
cash.head()

,DAL Cash & Short Term Investments,LUV Cash & Short Term Investments,UAL Cash & Short Term Investments
Report Date,,,
2011-06-30,3.610000e+09,4.374000e+03,8.579000e+09
2011-09-30,3.265000e+09,3.656000e+09,8.357000e+09
2011-12-31,3.615000e+09,3.144000e+09,7.762000e+09
2012-03-31,3.870000e+09,3.784000e+09,7.273000e+09
2012-06-30,3.498000e+09,3.256000e+09,7.704000e+09

In [16]:
#Quick Ratio (QR)
dal_qr=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Quick Ratio']]
dal_qr.set_index('Report Date',inplace=True)
dal_qr.rename(columns={'Quick Ratio':'DAL Quick Ratio'},inplace=True)
luv_qr=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Quick Ratio']]
luv_qr.set_index('Report Date',inplace=True)
luv_qr.rename(columns={'Quick Ratio':'LUV Quick Ratio'},inplace=True)
ual_qr=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Quick Ratio']]
ual_qr.set_index('Report Date',inplace=True)
ual_qr.rename(columns={'Quick Ratio':'UAL Quick Ratio'},inplace=True)
qr=pd.concat([dal_qr,luv_qr,ual_qr],axis='columns',join='inner')
qr.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
qr.sort_index(inplace=True) 
qr.head()

             DAL Quick Ratio  LUV Quick Ratio  UAL Quick Ratio
Report Date
2011-06-30          0.613878         0.945280         0.931124
2011-09-30          0.578505         0.777256         0.954614
2011-12-31          0.566412         0.870064         0.911181
2012-03-31          0.581489         0.928869         0.850232
2012-06-30          0.548833         0.835630         0.833609

In [18]:
#Debt to Equity Ratio (DE)
dal_de=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Debt-to-Equity Ratio']]
dal_de.set_index('Report Date',inplace=True)
dal_de.rename(columns={'Debt-to-Equity Ratio':'DAL Debt-to-Equity Ratioo'},inplace=True)
luv_de=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Debt-to-Equity Ratio']]
luv_de.set_index('Report Date',inplace=True)
luv_de.rename(columns={'Debt-to-Equity Ratio':'LUV Debt-to-Equity Ratio'},inplace=True)
ual_de=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','Debt-to-Equity Ratio']]
ual_de.set_index('Report Date',inplace=True)
ual_de.rename(columns={'Debt-to-Equity Ratio':'UAL Debt-to-Equity Ratio'},inplace=True)
de=pd.concat([dal_de,luv_de,ual_de],axis='columns',join='inner')
de.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
de.sort_index(inplace=True) 
de.head()

,DAL Debt-to-Equity Ratioo,LUV Debt-to-Equity Ratio,UAL Debt-to-Equity Ratio
Report Date,,,
2011-06-30,17.003344,0.587615,7.002060
2011-09-30,11.860884,0.648574,5.690744
2011-12-31,-10.106734,0.545441,7.051495
2012-03-31,-13.230465,0.465972,8.235762
2012-06-30,-11.453744,0.478947,7.612844

In [19]:
#Return on Equity (ROE)
dal_roe=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','ROE']]
dal_roe.set_index('Report Date',inplace=True)
dal_roe.rename(columns={'ROE':'DAL ROE'},inplace=True)
luv_roe=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','ROE']]
luv_roe.set_index('Report Date',inplace=True)
luv_roe.rename(columns={'ROE':'LUV ROE'},inplace=True)
ual_roe=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','ROE']]
ual_roe.set_index('Report Date',inplace=True)
ual_roe.rename(columns={'ROE':'UAL ROE'},inplace=True)
roe=pd.concat([dal_roe,luv_roe,ual_roe],axis='columns',join='inner')
roe.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
roe.drop('2011-06-30', inplace=True)
roe.drop('2012-09-30', inplace=True)
roe.drop('2013-09-30', inplace=True)
roe.drop('2013-03-31', inplace=True)
roe.sort_index(inplace=True)
roe.head()

              DAL ROE   LUV ROE   UAL ROE
Report Date
2011-09-30   0.449264 -0.021588  0.282439
2011-12-31  -0.304441  0.022103 -0.076412
2012-03-31  -0.122651  0.013809 -0.296689
2012-06-30   0.148018  0.033333  0.207339
2012-12-31  -0.002816  0.011299 -1.288981

In [20]:
#Stock Price Data
dal_price=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','DAL Price']]
dal_price.set_index('Report Date',inplace=True)
dal_price.rename(columns={'DAL Price':'DAL Stock Price'},inplace=True)
luv_price=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','LUv Price']]
luv_price.set_index('Report Date',inplace=True)
luv_price.rename(columns={'LUv Pricee':'LUV Stock Price'},inplace=True)
ual_price=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','UAL Price']]
ual_price.set_index('Report Date',inplace=True)
ual_price.rename(columns={'UAL Price':'UAL Stock Price'},inplace=True)
price=pd.concat([dal_price,luv_price,ual_price],axis='columns',join='inner')
price.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
price.sort_index(inplace=True)
price.head()

             DAL Stock Price  LUv Price  UAL Stock Price
Report Date
2011-06-30             7.620       8.47            18.76
2011-09-30             8.460       8.46            20.11
2011-12-31            10.890       9.79            20.96
2012-03-31            10.480       7.99            22.16
2012-06-30             8.814       8.90            19.19

In [21]:
#Price to Earnings(PE) Ratio
dal_pe=dal_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','PE Ratio']]
dal_pe.set_index('Report Date',inplace=True)
dal_pe.rename(columns={'PE Ratio':'DAL PE Ratio'},inplace=True)
luv_pe=luv_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','PE Ratio']]
luv_pe.set_index('Report Date',inplace=True)
luv_pe.rename(columns={'PE Ratio':'LUV PE Ratio'},inplace=True)
ual_pe=ual_fundamentals.loc[:,['Report Date','Fiscal Year','Fiscal Period','PE Ratio']]
ual_pe.set_index('Report Date',inplace=True)
ual_pe.rename(columns={'PE Ratio':'UAL PE Ratio'},inplace=True)
per=pd.concat([dal_pe,luv_pe,ual_pe],axis='columns',join='inner')
per.drop(columns=['Fiscal Period','Fiscal Year'],inplace=True)
per.sort_index(inplace=True)
per.head()

             DAL PE Ratio  LUV PE Ratio  UAL PE Ratio
Report Date
2011-06-30      32.250303     41.034783     11.507063
2011-09-30      12.913443    -47.859429     10.162787
2011-12-31      21.498141     49.980526    -49.969855
2012-03-31      71.247097     62.860102    -16.323214
2012-06-30     -44.332321     29.549561     18.737139